.body{
	height: 100vh;
	flex: 0.8;
	background: linear-gradient(rgba(91, 87, 115), rgba(0, 0, 0, 1));
	color: white;
	padding: 30px;
	overflow-y: overlay;
}
.body::-webkit-scrollbar {
	display: none;
}
.body__info {
	padding: 10px;
	display: flex;
	align-items: flex-end;
}
.body__infoText {
	margin-left: 20px;
	flex: 1px;
}
.body__info > img {
	height: 16vw;
	margin: 0, 20px;
}

.body__infoText > h2 {
	font-size: 42px;
	margin-bottom: 10px;
}
.body__infoText > p {
	font-size: 14px;
}

.body__icons {
	display: flex;
	align-items: center;
}

.body__icons > .MuiSvgIcon-root {
	margin-right: 20px;
}

.play__button {
	font-size: 50px;
}

.body__playbutton {
	font-size: 70px !important;
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: rgb(7, 192, 7);
}

.body__playbutton:hover {
	transition: 100ms transform ease-in;
	transform: scale(1.1);
}